@import "variables";
@import "index";
@import "header";
@import "footer";

@import "publicaciones";
@import "formato-publicacion";


*{
    margin: 0px;
    padding: 0px;
}

html{
    width: 80%;
    margin: auto;
}

.enlace, .enlace:hover{
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.nav-color{
    background-color: black;
}


/* Desktop */
@media screen and (min-width: 961px){
    body{
        background-color: $bg-color-home;
    }
}

/* Tablet */
@media screen and (min-width: 482px) and (max-width: 960px){
    body{
        background-color: $bg-color-home
    }

}

/* Mobile */
@media screen and (max-width: 481px){
    body{
        background-color: $bg-color-home
    }

}

